@import "tailwindcss";

@import "tw-animate-css";

@import "shadcn/tailwind.css";

@import "@fontsource-variable/inter";
@import "@fontsource-variable/fira-code";
@import "@fontsource-variable/space-grotesk";

@custom-variant dark (&:is(.dark *));
@custom-variant fixed (&:is(.layout-fixed *));

:root {
	--background: oklch(0.96 0 0);
	--foreground: oklch(0.235 0 0);
	--card: oklch(0.98 0 0);
	--card-foreground: oklch(0.235 0 0);
	--popover: oklch(0.98 0 0);
	--popover-foreground: oklch(0.235 0 0);
	--primary: oklch(0.3012 0 0);
	--primary-foreground: oklch(0.98 0 0);
	--secondary: oklch(0.93 0 0);
	--secondary-foreground: oklch(0.3012 0 0);
	--muted: oklch(0.9 0 0);
	--muted-foreground: oklch(0.47 0 0);
	--accent: oklch(0.94 0 0);
	--accent-foreground: oklch(0.3012 0 0);
	--destructive: oklch(0.5771 0.2152 27.325);
	--destructive-foreground: oklch(0.98 0 0);
	--border: oklch(0.84 0 0);
	--input: oklch(0.84 0 0);
	--ring: oklch(0.3012 0 0);
	--chart-1: oklch(0.6863 0.1743 34.2614);
	--chart-2: oklch(0.235 0 0);
	--chart-3: oklch(0.4688 0.0136 84.5932);
	--chart-4: oklch(0.7057 0.025 82.0932);
	--chart-5: oklch(0.834 0.0232 87.163);
	--sidebar: oklch(0.94 0 0);
	--sidebar-foreground: oklch(0.235 0 0);
	--sidebar-primary: oklch(0.3012 0 0);
	--sidebar-primary-foreground: oklch(0.98 0 0);
	--sidebar-accent: oklch(0.88 0 0);
	--sidebar-accent-foreground: oklch(0.3012 0 0);
	--sidebar-border: oklch(0.84 0 0);
	--sidebar-ring: oklch(0.3012 0 0);
	--radius: 0.5rem;
	--shadow-x: 0px;
	--shadow-y: 4px;
	--shadow-blur: 10px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.1;
	--shadow-color: #000000;
	--shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm:
		0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow:
		0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow-md:
		0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
	--shadow-lg:
		0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
	--shadow-xl:
		0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
	--tracking-normal: 0.01em;
	--spacing: 0.25rem;

	--breakpoint-3xl: 1600px;
	--font-display: Space Grotesk Variable, serif;
	--font-serif: Source Serif 4, serif;
	--font-sans: Inter Variable, sans-serif;
	--font-mono: Fira Code Variable, Source Code Pro, monospace;
}

.dark {
	--background: oklch(0.1913 0 0);
	--foreground: oklch(0.935 0 0);
	--card: oklch(0.2264 0 0);
	--card-foreground: oklch(0.935 0 0);
	--popover: oklch(0.2264 0 0);
	--popover-foreground: oklch(0.935 0 0);
	--primary: oklch(0.852 0 0);
	--primary-foreground: oklch(0.3329 0 0);
	--secondary: oklch(0.252 0 0);
	--secondary-foreground: oklch(0.852 0 0);
	--muted: oklch(0.285 0 0);
	--muted-foreground: oklch(0.68 0 0);
	--accent: oklch(0.3329 0 0);
	--accent-foreground: oklch(0.852 0 0);
	--destructive: oklch(0.6368 0.2078 25.3313);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.2931 0 0);
	--input: oklch(0.2931 0 0);
	--ring: oklch(0.852 0 0);
	--chart-1: oklch(0.6863 0.1743 34.2614);
	--chart-2: oklch(0.859 0 0);
	--chart-3: oklch(0.6348 0 0);
	--chart-4: oklch(0.4681 0 0);
	--chart-5: oklch(0.3523 0 0);
	--sidebar: oklch(0.173 0 0);
	--sidebar-foreground: oklch(0.935 0 0);
	--sidebar-primary: oklch(0.852 0 0);
	--sidebar-primary-foreground: oklch(0.3329 0 0);
	--sidebar-accent: oklch(0.3329 0 0);
	--sidebar-accent-foreground: oklch(0.852 0 0);
	--sidebar-border: oklch(0.2931 0 0);
	--sidebar-ring: oklch(0.852 0 0);
	--radius: 0.5rem;
	--shadow-x: 0px;
	--shadow-y: 6px;
	--shadow-blur: 15px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.3;
	--shadow-color: #000000;
	--shadow-2xs: 0px 6px 15px 0px hsl(0 0% 0% / 0.15);
	--shadow-xs: 0px 6px 15px 0px hsl(0 0% 0% / 0.15);
	--shadow-sm:
		0px 6px 15px 0px hsl(0 0% 0% / 0.3), 0px 1px 2px -1px hsl(0 0% 0% / 0.3);
	--shadow:
		0px 6px 15px 0px hsl(0 0% 0% / 0.3), 0px 1px 2px -1px hsl(0 0% 0% / 0.3);
	--shadow-md:
		0px 6px 15px 0px hsl(0 0% 0% / 0.3), 0px 2px 4px -1px hsl(0 0% 0% / 0.3);
	--shadow-lg:
		0px 6px 15px 0px hsl(0 0% 0% / 0.3), 0px 4px 6px -1px hsl(0 0% 0% / 0.3);
	--shadow-xl:
		0px 6px 15px 0px hsl(0 0% 0% / 0.3), 0px 8px 10px -1px hsl(0 0% 0% / 0.3);
	--shadow-2xl: 0px 6px 15px 0px hsl(0 0% 0% / 0.75);

	--breakpoint-3xl: 1600px;
	--font-display: Space Grotesk Variable, serif;
	--font-serif: Source Serif 4, serif;
	--font-sans: Inter Variable, sans-serif;
	--font-mono: Fira Code Variable, Source Code Pro, monospace;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);

	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-normal: var(--tracking-normal);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);

	--font-display: var(--font-display);
	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--breakpoint-3xl: var(--breakpoint-3xl);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	html {
		@apply overscroll-y-none scroll-smooth font-sans;
	}

	body {
		@apply bg-background text-foreground max-w-dvw overflow-x-hidden font-sans;
		font-synthesis-weight: none;
		text-rendering: optimizeLegibility;
	}

	[data-slot="layout"] {
		@apply overscroll-none;
	}

	@supports (font: -apple-system-body) and (-webkit-appearance: none) {
		[data-wrapper] {
			@apply min-[1800px]:border-t;
		}
	}

	a:active,
	button:active {
		@apply opacity-60 md:opacity-100;
	}
}

@utility container-wrapper {
	@apply 3xl:fixed:max-w-[calc(var(--breakpoint-2xl)+2rem)] mx-auto w-full px-2;
}

@utility container {
	@apply 3xl:max-w-screen-2xl mx-auto max-w-350 px-4 lg:px-8;
}

@utility no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

@utility extend-touch-target {
	@media (pointer: coarse) {
		@apply relative touch-manipulation after:absolute after:-inset-2;
	}
}

@utility typography {
	@apply space-y-4;

	h1 {
		@apply scroll-m-20 text-3xl border-b pb-4 font-extrabold tracking-tight text-balance mt-6 mb-3;
	}

	h2 {
		@apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight mt-6 mb-3;
	}

	h3 {
		@apply scroll-m-20 text-xl font-semibold tracking-tight mt-6 mb-3;
	}

	h4 {
		@apply scroll-m-20 text-lg font-semibold tracking-tight mt-6 mb-3;
	}

	h5 {
		@apply scroll-m-20 text-base font-semibold tracking-tight mt-6 mb-3;
	}

	h6 {
		@apply scroll-m-20 text-sm font-semibold tracking-tight mt-6 mb-3;
	}

	p {
		@apply leading-7 gap-1;
	}

	small {
		@apply text-sm leading-none font-medium;
	}

	img {
		@apply max-h-[attr(height_px,auto)] max-w-full box-content;
	}

	div,
	p {
		img {
			@apply inline;
		}

		&[align="center"] {
			@apply text-center items-center;
		}

		&[align="right"] {
			@apply text-right items-end;
		}
	}

	div {
		@apply space-y-4;
	}

	div[align] p:not([align]) {
		align-items: inherit;
	}

	ul {
		@apply ml-6 list-disc [&>li]:mt-2;
	}

	blockquote {
		@apply mt-6 border-l-2 pl-6 italic;
	}

	hr {
		@apply mt-6;
	}

	a {
		@apply font-medium underline underline-offset-4 inline-block;
	}

	code {
		@apply bg-muted relative rounded px-2 py-1 font-mono text-sm font-semibold overflow-x-auto inline-flex;

		&.block {
			@apply p-3 mt-4 block;
		}

		&::selection {
			@apply bg-popover text-popover-foreground;
		}
	}

	table:not([align]) {
		@apply w-full;
	}

	table[align="center"] {
		@apply mx-auto;
	}

	tr {
		@apply even:bg-muted m-0 border-t p-0;
	}

	th {
		@apply border px-4 py-2 text-left font-bold [[align=center]]:text-center [[align=right]]:text-right;
	}

	td {
		@apply border px-4 py-2 text-left [[align=center]]:text-center [[align=right]]:text-right;
	}

	.alert {
		@apply px-4 py-2 rounded border-l-4 fill-current;

		&.alert-note {
			@apply border-blue-500 text-blue-500;
		}

		&.alert-tip {
			@apply border-green-500 text-green-500;
		}

		&.alert-important {
			@apply border-purple-500 text-purple-500;
		}

		&.alert-warning {
			@apply border-amber-500 text-amber-500;
		}

		&.alert-caution {
			@apply border-red-500 text-red-500;
		}

		& p:not(.alert-title) {
			@apply text-foreground;
		}

		& .alert-title {
			@apply flex gap-2 items-center mb-2;
		}
	}
}
